*{
    margin: 0;
    font-family: Arial;
    border: border-box;

}

.nav-logo{
    height: 50px;
    width: 100px;
}

.navbar{
    height: 60.5px;
    background-color: #0f1111;
    color:white;
    display:flex;
}

.logo{
    background-image: url(amazon_logo.png);
    height:50px;
    width: 100px;
    background-size: cover;

}

.border{
    border: 1px solid transparent;
}

.border:hover{
    border: 1px solid white;
}

.add-first{

}

.add-sec{
    
}